html {
  font-size: 62.5%;
  background-color: #f9f8f6; }

/**************************************/
#header_in .pc_navi_li li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
  margin-right: 0; }

#cover_area .owl-dots {
  text-align: left;
  margin: 0; }
  #cover_area .owl-dots .owl-dot span {
    border-radius: 0px;
    width: 25px;
    height: 2px;
    background: #aaaaaa;
    margin: 0 10px 0 0; }
  #cover_area .owl-dots .owl-dot.active span {
    background: #9d1a2d; }

#new_items {
  margin-bottom: 30px; }
  #new_items .flex {
    display: flex;
    justify-content: space-between; }
  #new_items section {
    background-color: white;
    margin: 1px;
    padding: 10px; }

#popular_items {
  margin-bottom: 30px; }
  #popular_items .flex {
    display: flex;
    justify-content: space-between; }
  #popular_items section {
    background-color: white;
    margin: 1px;
    padding: 10px; }

#latest_items {
  margin-bottom: 30px; }
  #latest_items .flex {
    display: flex;
    justify-content: space-between; }
  #latest_items section {
    background-color: white;
    margin: 1px;
    padding: 10px; }

#shopping_guide {
  margin-bottom: 30px; }
  #shopping_guide .flex {
    display: flex;
    justify-content: space-between; }
  #shopping_guide section {
    background-color: white;
    margin: 1px;
    padding: 20px;
    width: 45%; }
    #shopping_guide section h4 {
      color: #887f69;
      font-size: 16px;
      font-size: 1.6rem;
      font-weight: bold; }
    #shopping_guide section p.shikaku {
      color: #887f69;
      margin-bottom: 3px; }

#categories_area .flex {
  display: flex;
  justify-content: space-between; }
#categories_area section {
  background-color: white;
  margin: 1px;
  padding: 10px; }
#categories_area .back-btn {
  display: block;
  margin: 15px 0;
  padding: 8px 40px;
  background-color: #887f69;
  color: white;
  font-weight: bold;
  float: left; }
#categories_area .next-btn {
  display: block;
  margin: 15px 0;
  padding: 8px 40px;
  background-color: #887f69;
  color: white;
  font-weight: bold;
  float: right; }

#sidebar .side_f {
  background: white;
  padding: 0 0 20px 0;
  margin-bottom: 10px; }
#sidebar .more_btn {
  display: block;
  margin: 0 auto; }
#sidebar h4 {
  display: block;
  margin: auto;
  margin-bottom: 10px;
  background-color: #887f69;
  padding-left: 20px;
  padding-bottom: 10px; }
#sidebar .categories h4 {
  margin-bottom: 0; }
#sidebar .categories img {
  margin-left: auto; }
#sidebar .categories ul {
  background-color: white; }
  #sidebar .categories ul li {
    display: block;
    padding: 10px 10px 10px 20px;
    list-style-type: none;
    border-bottom: 1px solid rgba(136, 127, 105, 0.3);
    font-size: 14px;
    font-size: 1.4rem; }
    #sidebar .categories ul li a {
      text-decoration: none;
      color: #887f69; }
  #sidebar .categories ul li:last-child {
    border-bottom: none; }
#sidebar .shop_info .shop_info_img {
  display: block;
  margin: 0 auto; }
#sidebar .more_btn {
  display: block;
  margin: 0 auto; }

footer .page_top {
  display: block;
  float: right; }
footer .border-line {
  clear: both;
  border-bottom: 1px solid black;
  margin-top: 15px;
  margin-bottom: 15px; }
footer .align-center {
  display: block;
  margin: 0 auto;
  text-align: center; }
footer ul {
  clear: both; }
  footer ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    font-size: 12px;
    font-size: 1.2rem; }
    footer ul li a {
      color: #887f69;
      text-decoration: none; }
footer .copy {
  font-size: 10px;
  font-size: 1rem; }

/*# sourceMappingURL=style.css.map */
