html {
  font-size: 62.5%;
  background-color: #f9f8f6; }

/**************************************/
#header_in .pc_navi_li li {
  list-style-type: none;
  display: inline-block;
  margin-left: 15px;
  margin-right: 0; }

#cover_area .owl-dots {
  text-align: left;
  margin: 0; }
  #cover_area .owl-dots .owl-dot span {
    border-radius: 0px;
    width: 25px;
    height: 2px;
    background: #aaaaaa;
    margin: 0 10px 0 0; }
  #cover_area .owl-dots .owl-dot.active span {
    background: #9d1a2d; }

#new_items {
  margin-bottom: 30px; }
  #new_items h3 {
    background-image: url(..images/top/); }
  #new_items .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    #new_items .flex section {
      background-color: white;
      margin: 1px 0;
      padding: 10px;
      width: calc((100% - 64px) / 3); }
      #new_items .flex section img {
        width: 100%; }
  @media (max-width: 550px) {
    #new_items .flex section {
      padding: 10px;
      width: calc((100% - 42px) / 2); }
      #new_items .flex section img {
        width: 100%; } }

#popular_items {
  margin-bottom: 30px; }
  #popular_items .flex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    #popular_items .flex section {
      background-color: white;
      margin: 1px 0;
      padding: 10px;
      width: calc((100% - 64px) / 3); }
      #popular_items .flex section img {
        width: 100%; }
  @media (max-width: 550px) {
    #popular_items .flex section {
      padding: 10px;
      width: calc((100% - 42px) / 2); }
      #popular_items .flex section img {
        width: 100%; } }

#latest_items {
  margin-bottom: 30px; }
  #latest_items .flex {
    display: flex;
    justify-content: space-between; }
    #latest_items .flex section {
      background-color: white;
      margin: 1px 0;
      padding: 10px;
      width: calc((100% - 64px) / 3); }
      #latest_items .flex section img {
        width: 100%; }

#shopping_guide {
  margin-bottom: 30px; }
  #shopping_guide .flex {
    display: flex;
    justify-content: space-between; }
    #shopping_guide .flex section {
      background-color: white;
      margin: 3px;
      padding: 20px;
      width: calc((100% - 6px) / 2); }
      #shopping_guide .flex section h4 {
        color: #887f69;
        font-size: 16px;
        font-size: 1.6rem;
        font-weight: bold; }
      #shopping_guide .flex section p.shikaku {
        color: #887f69;
        margin-bottom: 3px; }
  @media (max-width: 550px) {
    #shopping_guide .flex {
      flex-direction: column; }
      #shopping_guide .flex section {
        width: 86%; } }

#categories_area .flex {
  display: flex;
  justify-content: space-between; }
#categories_area section {
  background-color: white;
  margin: 1px;
  padding: 10px; }
#categories_area .back-btn {
  display: block;
  margin: 15px 0;
  padding: 8px 40px;
  background-color: #887f69;
  color: white;
  font-weight: bold;
  float: left;
  border-radius: 20px; }
#categories_area .next-btn {
  display: block;
  margin: 15px 0;
  padding: 8px 40px;
  background-color: #887f69;
  color: white;
  font-weight: bold;
  border-radius: 20px;
  float: right; }

#sidebar .side_f {
  background: white;
  padding: 0 0 20px 0;
  margin-bottom: 10px; }
  #sidebar .side_f form {
    position: relative;
    margin-bottom: 0;
    padding: 0 10px; }
    #sidebar .side_f form img {
      position: absolute;
      top: 10px;
      right: 20px; }
    #sidebar .side_f form input {
      width: 100%;
      margin-bottom: 0;
      background-color: #eeeeee;
      border: 0;
      border-radius: 0; }
  #sidebar .side_f h4 {
    display: flex;
    margin: auto;
    margin-bottom: 10px;
    background-color: #887f69;
    padding: 0 20px;
    height: 40px;
    justify-content: space-between;
    align-items: center; }
#sidebar .page_link.side_f {
  padding: 0; }
#sidebar .more_btn {
  display: block;
  margin: 0 auto; }
#sidebar .categories.side_f {
  padding: 0; }
  #sidebar .categories.side_f h4 {
    margin-bottom: 0; }
  #sidebar .categories.side_f ul {
    background-color: white; }
    #sidebar .categories.side_f ul a {
      text-decoration: none;
      color: black; }
      #sidebar .categories.side_f ul a li {
        display: flex;
        margin: auto;
        padding: 0 20px;
        height: 40px;
        justify-content: space-between;
        align-items: center;
        list-style-type: none;
        border-bottom: 1px solid #f9f8f6;
        font-size: 14px;
        font-size: 1.4rem; }
    #sidebar .categories.side_f ul li:last-child {
      border-bottom: none; }
#sidebar .about .about_body {
  padding: 0 10px; }
#sidebar .shop_info .shop_info_body {
  padding: 0 10px; }
#sidebar .more_btn {
  display: block;
  margin: 0 auto; }

footer .page_top {
  display: block;
  float: right; }
  @media (max-width: 550px) {
    footer .page_top {
      clear: both;
      margin: 0 auto; } }
footer .border-line {
  clear: both;
  border-bottom: 1px solid black;
  margin-top: 15px;
  margin-bottom: 15px; }
footer .align-center {
  display: block;
  margin: 0 auto;
  text-align: center; }
footer ul {
  clear: both; }
  footer ul li {
    list-style-type: none;
    display: inline-block;
    padding: 5px;
    margin-right: 5px;
    font-size: 12px;
    font-size: 1.2rem; }
    footer ul li a {
      color: #887f69;
      text-decoration: none; }
footer .copy {
  font-size: 10px;
  font-size: 1rem; }

@media (max-width: 550px) {
  h3.hp-h3 {
    display: none; }

  h3.sp-h3 {
    text-align: center; }

  .item-serch h4 {
    display: none; }

  .shop_info_body {
    display: flex; }
    .shop_info_body .sp_float_img {
      flex: 1; }
    .shop_info_body .sp_float_txt {
      padding-left: 20px;
      flex: 1; }
      .shop_info_body .sp_float_txt img {
        margin: 0; }

  .about_body {
    display: flex; }
    .about_body .about_float_img {
      flex: 1; }
    .about_body .about_float_txt {
      padding-left: 20px;
      flex: 1; }

  footer .page-top img .align-center {
    item-align: center; } }
@media (min-width: 551px) {
  h3.sp-h3 {
    display: none; } }

/*# sourceMappingURL=style.css.map */
