@charset "utf-8";
html {
    font-size: 62.5%;
    background-color: #f9f8f6;
}

@mixin fontsize($size: 24, $base: 10) {
    font-size: $size + px;
    font-size: ($size / $base) * 1rem;
}

$ja_font: "ヒラギノ角ゴ Pro W3",
"Hiragino Kaku Gothic Pro",
メイリオ,
Verdana,
"ＭＳ Ｐゴシック",
sans-serif;
$basecolor: #42b9d0;
$subcolor: #887f69;
$fontcolor: #eaf2f4;

/**************************************/

#header_in {
    .pc_navi_li li {
        list-style-type: none;
        display: inline-block;
        margin-left: 15px;
        margin-right: 0;
    }
}

#cover_area {
    .owl-dots {
        text-align: left;
        margin: 0;
        .owl-dot {
            span {
                border-radius: 0px;
                width: 25px;
                height: 2px;
                background: #aaaaaa;
                margin: 0 10px 0 0;
            }
        }
        .owl-dot.active {
            span {
                background: #9d1a2d;
            }
        }
    }
}

#new_items {
    margin-bottom: 30px;
    h3 {
        background-image: url(..images/top/);
    }
    .flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        section {
            background-color: white;
            margin: 1px 0;
            padding: 10px;
            width: calc((100% - 64px) / 3);
            img {
                width: 100%;
            }
        }
    }
    @media (max-width: 550px) {
        .flex {
            section {
                padding: 10px;
                width: calc((100% - 42px) / 2);
                img {
                    width: 100%;
                }
            }
        }
    } //@media
}

#popular_items {
    margin-bottom: 30px;
    .flex {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        section {
            background-color: white;
            margin: 1px 0;
            padding: 10px;
            width: calc((100% - 64px) / 3);
            img {
                width: 100%;
            }
        }
    }
    @media (max-width: 550px) {
        .flex {
            section {
                padding: 10px;
                width: calc((100% - 42px) / 2);
                img {
                    width: 100%;
                }
            }
        }
    } //@media
}

#latest_items {
    margin-bottom: 30px;
    .flex {
        display: flex;
        justify-content: space-between;
        section {
            background-color: white;
            margin: 1px 0;
            padding: 10px;
            width: calc((100% - 64px) / 3);
            img {
                width: 100%;
            }
        }
    }
}

#shopping_guide {
    margin-bottom: 30px;
    .flex {
        display: flex;
        justify-content: space-between;
        section {
            background-color: white;
            margin: 3px;
            padding: 20px;
            width: calc((100% - 6px) / 2);
            h4 {
                color: $subcolor;
                @include fontsize(16);
                font-weight: bold;
            }
            p.shikaku {
                color: $subcolor;
                margin-bottom: 3px;
            }
        }
    }
    @media (max-width: 550px) {
        .flex {
            flex-direction: column;
            section {
                width: 86%;
            }
        }
    }
}

#categories_area {
    .flex {
        display: flex;
        justify-content: space-between;
    }
    section {
        background-color: white;
        margin: 1px;
        padding: 10px;
    }
    .back-btn {
        display: block;
        margin: 15px 0;
        padding: 8px 40px;
        background-color: #887f69;
        color: white;
        font-weight: bold;
        float: left;
        border-radius: 20px;
    }
    .next-btn {
        display: block;
        margin: 15px 0;
        padding: 8px 40px;
        background-color: #887f69;
        color: white;
        font-weight: bold;
        border-radius: 20px;
        float: right;
    }
} //#categories_area
#sidebar {
    .side_f {
        background: white;
        padding: 0 0 20px 0;
        margin-bottom: 10px;
        h4 {
            display: flex;
            margin: auto;
            margin-bottom: 10px;
            background-color: $subcolor;
            padding: 0 20px;
            height: 40px;
            justify-content: space-between;
            align-items: center;
        }
    }
    .page_link.side_f {
        padding: 0;
    }
    .more_btn {
        display: block;
        margin: 0 auto;
    }
    .categories.side_f {
        padding: 0;
        h4 {
            margin-bottom: 0;
        }
        ul {
            background-color: white;
            a {
                text-decoration: none;
                color: black;
                li {
                    display: flex;
                    margin: auto;
                    padding: 0 20px;
                    height: 40px;
                    justify-content: space-between;
                    align-items: center;
                    list-style-type: none;
                    border-bottom: 1px solid #f9f8f6;
                    @include fontsize(14);
                }
            }
            li:last-child {
                border-bottom: none;
            }
        }
    } //.categories
    .about {
        .about_body {
            padding: 0 10px;
        }
    }
    .shop_info {
        .shop_info_body {
            padding: 0 10px;
        }
    }
    .more_btn {
        display: block;
        margin: 0 auto;
    }
} //sidebar
footer {
    .page_top {
        display: block;
        float: right;
        @media (max-width: 550px){
        clear:both;
        margin: 0 auto;
    }
    }
    .border-line {
        clear: both;
        border-bottom: 1px solid black;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .align-center {
        display: block;
        margin: 0 auto;
        text-align: center;
    }
    ul {
        clear: both;
        li {
            list-style-type: none;
            display: inline-block;
            padding: 5px;
            margin-right: 5px;
            @include fontsize(12);
            a {
                color: $subcolor;
                text-decoration: none;
            }
        }
    }
    .copy {
        @include fontsize(10);
    }
} //footer
@media (max-width: 550px) {
    h3.hp-h3 {
        display: none;
    }
    h3.sp-h3 {
            margin: 0 auto;
        
    }
} //sp用
@media (min-width: 551px) {
    h3.sp-h3 {
        display: none;
    }
} //HP用
